language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
before_install:
  - npm install -g npm@5
  - npm install -g greenkeeper-lockfile@1
install:
  - npm install
  - npm prune
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
script:
  - make dist
after_success:
  - |
    if [ -n "${TRAVIS_TAG}" ]; then
      make deploy
    fi
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
matrix:
  include:
    - node_js: 'node'
